### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>
 
RewriteEngine on
RewriteRule hire-programmer index.html
RewriteRule about-me aboutme.html
RewriteRule my-services services.html
RewriteRule cv-programmer-java-html-css cv.html
RewriteRule contact-with-me contact.html